cgroups:
  group_name:
    user: user_for_cgroup
    controllers:
      - controller1
      - controller2
      - cpu
      - memory
    destination: control_group/
    mountpoint_root: /cgroup
    rules:
      subsystem.property: "100"
      memory.limit_in_bytes: "6144M"
